<div>
  <h2><%= @deck.name %>!</h2>

  <a href="/decks/<%=@deck.id %>" class="deck_links"> <%= @deck.name %> </a>

  <%@deck.cards.each do |card|%>
    <p><%=card.question%><br>
    <%=card.answer%></p>
  <%end%>
</div>

<div class="deck_stats">
<!-- List stats for all games played of this deck by all users -->
  </div>

